<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <ul class="pagination">
        <li>
          <a ng-click="previousPage()" href="">Prev</a>
        </li>
        <li>
          <a href="">showing {{currentPage}} of {{lastPage}}</a>
        </li>
        <li>
          <a ng-click="nextPage()" href="">Next</a>
        </li>
      </ul>
    </div>
  </div>
</div>
