
      <div class="alert alert-info">
        <div>
        Showing the results for language {{topgit.searchLanguage}}. Total repos - {{topgit.repositories.total_count}}
        <span class="pr">Requests limit available: {{topgit.remaining}} / {{topgit.total}}</span>
        </div>

      </div>

      <a href=""  ng-click="topgit.toggleSearchOptions()">
        <label>
          <i class="glyphicon glyphicon-search"></i>
          Search options
        </label>
      </a>

      <div ng-show="topgit.showSearchOptions" id="advancedSearch" class="advanced-search jumbotron">

        <form role="form">
          <div class="form-group">

            <label for="star-count"> Language
            </label>
            <input type="text" placeholder="Search by language" class="form-control" ng-model="topgit.searchLanguage" />
          </div>
          <div>
            <label for="star-count">
              <i class="glyphicon glyphicon-star"></i>
              Stars Count
            </label>
            <div id="star-count">
              <rzslider
                rz-slider-model="topgit.slider.value"
                rz-slider-options="topgit.slider.options"></rzslider>

            </div>
          </div>
          <button type="submit" ng-click="topgit.search()" class="btn btn-success">
            Search
          </button>
        </form>
      </div>


    <div id="results" ng-hide="topgit.showLoader">
      <pagination-controls current-page="topgit.currentPage" last-page="topgit.lastPage" next-page="topgit.getNextPage()" previous-page="topgit.getPreviousPage()"  ></pagination-controls>
      <div ng-repeat="repo in topgit.repositories.items">
        <repository-detail repository="repo"></repository-detail>
      </div>
      <pagination-controls current-page="topgit.currentPage" last-page="topgit.lastPage" next-page="topgit.getNextPage()" previous-page="topgit.getPreviousPage()"  ></pagination-controls>
    </div>
    <div id="spinner" ng-show="topgit.showLoader">
      <div class="container">
        <button class="btn btn-lg btn-warning"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</button>
      </div>
    </div>

