<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">
      {{repository.full_name}}
      <a href="{{repository.html_url}}" target="_blank"><i class="pr glyphicon glyphicon-new-window"></i></a>
    </h3>
  </div>
  <div class="panel-body">
    Langauge : {{repository.language}}<br/>
    Description: {{repository.description | limitTo:100}}{{repository.description.length > 100 ? '...' : ''}}
    <div id="image" class="pr">
      <img class="avatar" ng-src="{{repository.owner.avatar_url}}"/>
    </div>
  </div>
  <div class="panel-footer">
    <i class="glyphicon glyphicon-star"></i>: {{repository.stargazers_count}} | <i class="glyphicon glyphicon-eye-open"></i> : {{repository.watchers_count}}
  </div>
</div>
